
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@tailwind utilities;


html{
  scroll-behavior: smooth;
}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

/* in your global CSS file */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}




